{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Životopis{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well">
        <form id="cv_form" class="form-horizontal" action="" method="POST">
          <legend>Unesite svoj životopis <span class="pull-right"><a href="{{ STATIC_URL }}elektrijada/pdf/Primjeric_Primjerko.pdf" target="_blank"><i class="glyphicon glyphicon-file"></i> Primjer</a></span></legend>
          <fieldset class="bold-required">
            {% csrf_token %}
            {{ form.first_name|bootstrap_horizontal:'col-md-3' }}
            {{ form.last_name|bootstrap_horizontal:'col-md-3' }}
            {{ form.address_1|bootstrap_horizontal:'col-md-3' }}
            {{ form.address_2|bootstrap_horizontal:'col-md-3' }}
            {{ form.email|bootstrap_horizontal:'col-md-3' }}
            {{ form.web|bootstrap_horizontal:'col-md-3' }}
            {{ form.born|bootstrap_horizontal:'col-md-3' }}
            {{ form.phone|bootstrap_horizontal:'col-md-3' }}
            {{ form.college|bootstrap_horizontal:'col-md-3' }}
            {{ form.course|bootstrap_horizontal:'col-md-3' }}
            {{ form.discipline|bootstrap_horizontal:'col-md-3' }}
            {{ form.activities|bootstrap_horizontal:'col-md-3' }}
            {{ form.education|bootstrap_horizontal:'col-md-3' }}
            {{ form.languages|bootstrap_horizontal:'col-md-3' }}
            {{ form.skills|bootstrap_horizontal:'col-md-3' }}
            {{ form.experience|bootstrap_horizontal:'col-md-3' }}
            {{ form.about|bootstrap_horizontal:'col-md-3' }}
            {{ form.graduation|bootstrap_horizontal:'col-md-3' }}
            {{ form.preferences|bootstrap_horizontal:'col-md-3' }}
            {{ form.expectations|bootstrap_horizontal:'col-md-3' }}
          </fieldset>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <div class="controls">
                {{ form.tos|bootstrap }}
                <button type="submit" class="btn btn-primary">Spremi</button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
