{% extends "base.html" %}
{% load bootstrap %}

{% block title %}{{ block.super }} - Životopis{% endblock title %}

{% block content %}
  {# <!-- Flash message --> #}
  {% if messages %}
    <div class="row">
      <div class="span8">
        {% for msg in messages %}
          <div class="alert {% if msg.tags %}alert-{{ msg.tags }}{% endif %}">
            <a class="close" data-dismiss="alert">×</a>{{ msg }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="span8">
      <!-- CV form -->
      <form id="cv_form" class="form-horizontal well" action="" method="POST">
        <fieldset class="bold-required">
          <legend>Unesite svoj životopis</legend>
          {% csrf_token %}
          {{ form|bootstrap }}
          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Spremi">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
