{% extends "base.html" %}

{% block title %}{{ block.super }} - Životopis{% endblock title %}

{% block content %}
  <div class="row">
    <div class="span10">
      <!-- CV detail -->
      <div class="form-horizontal well">
        <legend>{{ cv.full_name }}</legend>
        <table class="table table-detail">
          <tbody>
            {% for field in form %}
              <tr><td>{{ field.label }}</td><td>{{ field.value|urlize }}</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
