{% extends "base.html" %}
{% load endless %}

{% block title %}Životopis{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <form action="" method="GET">
          <div class="row">
            {# search #}
            <div class="col-md-4">
              <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="Pretraga..." value="{{ query }}">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default-org" data-input="clear"><strong>&times;</strong></button>
                  <button type="submit" class="btn btn-default-org"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Prezime</th>
            <th>Ime</th>
            <th>Fakultet</th>
            <th>Smjer/Godina</th>
            <th>Izvezi</th>
          </tr>
        </thead>
        <tbody class="rowlink">
          {% paginate cvs %}
          {% for cv in cvs %}
            <tr>
              <td><a href="{% url 'zivotopis:cv_detail' cv_id=cv.id %}" target="_blank">{{ cv.last_name }}</a></td>
              <td>{{ cv.first_name }}</td>
              <td>{{ cv.college }}</td>
              <td>{{ cv.course }}</td>
              <td><a href="{% url 'zivotopis:cv_pdf' cv_id=cv.id %}" target="_blank"><i class="glyphicon glyphicon-file"></i> pdf</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul id="digg_pagination" class="hide">{% show_pages %}</ul>
      <div class="text-center">
        <ul id="bootstrap_pagination" class="pagination"></ul>
      </div>
    </div>
  </div>
{% endblock %}
