{% extends "base.html" %}
{% load url from future %}
{% load endless %}

{% block title %}{{ block.super }} - Životopis{% endblock title %}

{% block content %}
  <div class="row">
    <div class="span12">
      <form class="well form-search">
        <input name="q" type="text" class="input-xlarge search-query" placeholder="Pretraga..." value="{{ query }}">
        <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
      </form>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Fakultet</th>
            <th>Smjer/Godina</th>
          </tr>
        </thead>
        <tbody class="rowlink">
          {% paginate cvs %}
          {% for cv in cvs %}
            <tr>
              <td><a class="rowlink" href="{% url 'zivotopis:cv_detail' cv_id=cv.id %}">{{ cv.first_name }}</a></td>
              <td>{{ cv.last_name }}</td>
              <td>{{ cv.college }}</td>
              <td>{{ cv.course }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination pagination-centered">
        <div id="rube_pagination">{% show_pages %}</div>
        <ul id="bootstrap_pagination">
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
