{% load url from future %}
{% load compress %}
{% load base_extras %}
<!DOCTYPE html>
<html lang="hr-HR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elektrijada">
    <meta name="author" content="droan@kset.org">
    <link rel="shortcut icon" href="{{ STATIC_URL }}elektrijada/img/favicon.ico?v=0">

    <title>{% block title %}Elektrijada{% endblock %}</title>
    {# css #}
    {# <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> #}
    {% compress css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}elektrijada/css/bootstrap.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}elektrijada/css/bootstrap-theme.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}elektrijada/css/bootstrap-rowlink.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}elektrijada/css/base.css">
    {% endcompress %}

    {# scripts #}
    {# <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> #}
    {# <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> #}
    {% compress js %}
      <script src="{{ STATIC_URL }}elektrijada/js/jquery.js"></script>
      <script src="{{ STATIC_URL }}elektrijada/js/bootstrap.js"></script>
      <script src="{{ STATIC_URL }}elektrijada/js/bootstrap-rowlink.js"></script>
      <script src="{{ STATIC_URL }}elektrijada/js/base.js"></script>
    {% endcompress %}
    {% compress js %}
      {% block js %}
      {% endblock %}
    {% endcompress %}
  </head>

  <body>
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Elektrijada</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% active request 'unos' %}"><a href="{% url 'zivotopis:cv_add' %}">Životopis</a></li>
            {% if user.is_authenticated %}
              <li class="{% active request 'pregled' %}"><a href="{% url 'zivotopis:cv_list' %}">Pregled</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}"><i class="glyphicon glyphicon-wrench"></i> Admin</a></li>
                  {% endif %}
                  <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i> Odjava</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}">Prijava</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      {# Flash message #}
      {% if messages %}
        <div class="row">
          {% for msg in messages %}
            <div class="col-md-12">
              <div class="alert {% flash_msg_tags msg %}">
                {{ msg }}<a class="close" data-dismiss="alert" href="#">&times;</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {# Content #}
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
