fieldset.bold-required .required label {
    font-weight: bold;
}
fieldset .controls input {
    /*width: 80%;*/
}
#cv_form fieldset .controls textarea {
    width: 80%;
    height: 5em;
}

table.table-detail > tbody > tr:first-child > td {
    border: none;
}
table.table-detail > tbody > tr > td:first-child {
    text-align: right;
    /*white-space: nowrap;*/
    margin-right: 15px;
    width: 150px;
}
